In [205]:
nombre = "santiago hernandez"
nombre [0:8]

'santiago'

In [206]:
nombre[-9]

'h'

In [207]:
nombre [-4]

'n'

In [208]:
nombre[-2]

'e'

In [209]:
nombre[-8]

'e'

In [210]:
nombre[-10]

' '

In [211]:
nombre[0:8:2]

'snig'

In [212]:
nombre[:8:3]

'stg'

In [213]:
nombre = "santiago\nhernandez\nrodriguez"

In [214]:
print(nombre)

santiago
hernandez
rodriguez

In [215]:
nombre2 = """santiago hernandez radrigues"""

In [216]:
print(nombre2)

santiago hernandez radrigues

In [217]:
nombre = """santiago 
hernandez 
rodriguez"""

In [218]:
print(nombre)

santiago
hernandez
rodriguez

In [219]:
num2 = 1_000_000

In [220]:
num2

1000000

In [221]:
# esto es un comentario de varias linea

In [222]:
var = "hola mundo"

In [223]:
len(var)

10

In [224]:
def mi_funcion2()
print("hola mundo")
print("Adios mundo")

SyntaxError: expected ':' (3114182046.py, line 1)

In [ ]:
mi_funcion2()

In [ ]:
def mi_funcion(arg1, arg2,arg3,):
    print(arg1)
    print(arg2)
    print(arg3)

In [ ]:
mi_funcion("hola mundo","adios mundo", "hola mundo")

In [ ]:
mi_funcion("perro", "leon", "gato")

In [ ]:
def mi_funcion(arg1, arg2):
    print(arg1)
    print(arg2)

In [ ]:
var = "hola mundo"
var2 = "adios mundo"
mi_funcion(arg1=var, arg2=var2)

In [ ]:
mi_funcion(arg1=var2, arg2=var)

In [ ]:
def mi_funcion(arg1, arg2="valor por defecto"):
    print(arg1)
    print(arg2)

In [ ]:
mi_funcion("hola mundo")

In [ ]:
mi_funcion("hola mundo", "adios mundo")

In [ ]:
def mi_funcion2():
    return "valor de mi_funcion"
print("esta sentencia nunca va a ejecutarce")

In [ ]:
var = mi_funcion2()
print(var)

In [ ]:
var = mi_funcion2()[0:5]
print(var)

In [ ]:
help()

In [ ]:
print("hola mundo")

In [ ]:
var =10

In [ ]:
type("10")

In [ ]:
help(id)

In [ ]:
help(exec)

In [ ]:
import this

In [ ]:
print("hola mundo")

In [ ]:
print ("hola mundo")

In [ ]:
num =10

In [ ]:
+num

In [ ]:
-num

In [ ]:
texto = "hola mundo"

In [ ]:
-texto

In [ ]:
num1 = 10
num2 = 5

In [ ]:
num1 + num2

In [ ]:
num3 = num2 - num1

In [ ]:
num3

In [ ]:
num2 - num1

In [ ]:
num1 + num2

In [ ]:
num1 = 20
num2 = 10

In [ ]:
num1 - num2

In [ ]:
num2 -num1

In [ ]:
texto1 = "hola"
texto2 = "mundo"

In [ ]:
texto1+texto2

In [ ]:
texto1 + " " + texto2

In [ ]:
num1 = 50
num2 = 80

In [ ]:
num1 * num2

In [ ]:
num2 / num1

In [ ]:
texto1 = "hello"
texto2 = "sun"

In [ ]:
texto1 * 3

In [ ]:
num1 = 80

In [ ]:
num1 ** 4

In [ ]:
num = 10

In [ ]:
num *= 2

In [ ]:
num

In [ ]:
num1 = 2
num2 = 5

In [ ]:
num1 == 2

In [ ]:
num1 == num2

In [ ]:
num1 = 1.5

In [ ]:
num1 != 2

In [ ]:
num1 = 2
num2 = 5

In [ ]:
num1 < num2

In [ ]:
num1 > num2

In [ ]:
num1 >= num2

In [ ]:
num1 <= num2

In [ ]:
len("texto")

In [ ]:
ord ('a')

In [ ]:
len("gold chain")

In [ ]:
text1 = "gold chain"
text2 = "gold chain"

In [ ]:
id(text1)

In [ ]:
id(text2)

In [ ]:
text1 == text2

In [ ]:
text = "gold chain"

In [ ]:
"texto" in text

In [ ]:
text = "cadena de texto"

In [ ]:
"texto" in text

In [ ]:
num = 5

In [ ]:
num < 10

In [ ]:
not num <10

In [ ]:
not (num <10)

In [ ]:
num1 = 5
num2 = 10

In [ ]:
num1 < 4

In [ ]:
num1 = 5
num2 = 10

In [ ]:
num < 6 and num2 > 5 and num2 > 2

In [ ]:
lista1 = [1,2,3]
lista2 = [4,5,6]

In [ ]:
lista1 + lista2

[1, 2, 3, 4, 5, 6]

In [ ]:
lista1 * 2

[1, 2, 3, 1, 2, 3]

In [ ]:
min(lista1)

1

In [ ]:
max(lista1)

3

In [ ]:
[1, 2, 3] + [4]

[1, 2, 3, 4]

In [ ]:
lista = [1,[2,[3,4], 5], 6]

In [ ]:
lista[0]

1

In [ ]:
lista[2]

6

In [ ]:
lista[1]

[2, [3, 4], 5]

In [ ]:
lista[3]

IndexError: list index out of range

In [ ]:
lista

[1, [2, [3, 4], 5], 6]

In [ ]:
lista = ["texto4", "texto5", "texto6"]

In [ ]:
lista [0:3] = [1,2,3]

In [ ]:
lista

[1, 2, 3]

In [ ]:
lista = ["texto1", "texto2", "texto3"]

In [ ]:
lista[0]

'texto1'

In [ ]:
lista

['texto1', 'texto2', 'texto3']

In [ ]:
lista += ["texto4", "texto5", "texto6"]

In [ ]:
lista

['texto1', 'texto2', 'texto3', 'texto4', 'texto5', 'texto6']

In [ ]:
lista[0:3]

['texto1', 'texto2', 'texto3']

In [ ]:
lista [0:3] = [1, 2, 3]

In [ ]:
lista

[1, 2, 3, 'texto4', 'texto5', 'texto6']

In [ ]:
lista[0:3]

[1, 2, 3]

In [ ]:
tupla = (1, 2, 3, 4, 5)

In [ ]:
len(tupla)

5

In [ ]:
tupla = (1, 2, 3, "t1", "t2", "t3")

In [ ]:
tupla

(1, 2, 3, 't1', 't2', 't3')

In [ ]:
tupla[4:]

('t2', 't3')

In [ ]:
var = (1, 2, 3, 4)

In [ ]:
var

(1, 2, 3, 4)

In [ ]:
def func():
    retur (5,6)

In [ ]:
def func():
    return (5,6)

In [ ]:
tuple

tuple

In [ ]:
var

(1, 2, 3, 4)

In [ ]:
num1, num2, num3, num4 = var

In [ ]:
num1

1

In [ ]:
num2

2

In [ ]:
num3

3

In [ ]:
num4

4

In [ ]:
def func():
    return (5,6)

In [ ]:
func()

(5, 6)

In [ ]:
def func():
    return 5,6

In [ ]:
func()

(5, 6)

In [ ]:
dic = { 
    "nombre": "santiago", 
    "apellido": "hernandez", 
    "pais": "españa", 
    "ciudad": "madrid"
    }

In [ ]:
type(dic)

dict

In [ ]:
print(dic)

{'nombre': 'santiago', 'apellido': 'hernandez', 'pais': 'españa', 'ciudad': 'madrid'}

In [ ]:
dic["nombre"]

'santiago'

In [ ]:
dic["ciudad"]

'madrid'

In [ ]:
cadena_bytes = b'\x02\x1f'

In [ ]:
cadena_bytes

b'\x02\x1f'

In [ ]:
type(cadena_bytes)

bytes

In [ ]:
bin(543)

'0b1000011111'

In [ ]:
texto = "hola mundo"

In [ ]:
texto_bytes = b'hola mundo'

In [ ]:
texto_bytes

b'hola mundo'

In [ ]:
type(texto_bytes)

bytes

In [ ]:
cadena_bytes = bytearray(b'\x20\x19\x61\x39\x40')

In [ ]:
cadena_bytes

bytearray(b' \x19a9@')

In [ ]:
type(cadena_bytes)

bytearray

In [ ]:
cadena_bytes[3]

57

In [ ]:
miset = { "rojo", "azul", "verde"}

In [ ]:
print(miset)

{'rojo', 'verde', 'azul'}

In [ ]:
fset = frozenset( {"azul", "verde", "amarillo"})

In [ ]:
fset

frozenset({'amarillo', 'azul', 'verde'})

In [ ]:
frozenset({'amarillo', 'azul', 'verde'})

frozenset({'amarillo', 'azul', 'verde'})

In [ ]:
type(fset)

frozenset

In [ ]:
{"azul", 0, (1,2)}

{(1, 2), 0, 'azul'}

In [ ]:
def func():
    return

In [ ]:
var = func()

In [ ]:
type (var)

NoneType

In [ ]:
var2 = None

In [ ]:
num1 = 5
num2 = 10

In [ ]:
# esto seria una expresion
num1 < num2

True

In [ ]:
if num1 < num2:
    print("sentencia 1")
    print("sentencia 2")
    print("sentencia 3")

sentencia 1
sentencia 2
sentencia 3

In [ ]:
num1 = 15

In [ ]:
if num1 < num2:
    print("sentencia 1")
    print("sentencia 2")
    print("sentencia 3")

In [ ]:
num1 < num2

False

In [ ]:
lista = ["azul", "amarillo", "verde"]

In [ ]:
if "azul" in lista:
    print("sentencia 1 en if")
    print("sentencia 2 en if")

sentencia 1 en if
sentencia 2 en if

In [ ]:
tupla = (1, 2, 3, 4)

In [ ]:
if 1 in tupla:
    print("sentencia 1 en if")
    print("sentencia 2 en if")

sentencia 1 en if
sentencia 2 en if

In [ ]:
nombres = ["santiago", "laura", "julia"]

In [ ]:
if "pedro" in nombres:
    print("hola pedro")
elif "juan" in nombres:
    print("hola juan")
elif "marta" in nombres:
    print("hola marta")
elif "santiago" in nombres:
    print("hola santiago")
else:
    print("el nombre no se encuentra en la lista")

hola santiago

In [ ]:
if 4 > 2: print("sentencia1");print("sentencia2");print("sentencia3")

sentencia1
sentencia2
sentencia3

In [ ]:
if 4 < 2: print("sentencia en if")
else: print("sentencia en else")

sentencia en else

In [ ]:
nombre = "santiago"

In [ ]:
edad = 30 if nombre == "pedro" else 15

In [ ]:
edad

15

In [ ]:
tiempo = "lluvia"

In [ ]:
print("vamos", "a la pisina" if tiempo == "sol" else "al cine")

vamos al cine

In [ ]:
colores = ["verde", "azul", "rojo"]

In [ ]:
for color in colores:
    print(color)

verde
azul
rojo

In [ ]:
iter("cadena de texto")

In [ ]:
iter ([1, 2, 3, 4,])

In [ ]:
for color in ["azul", "verde", "rojo"]:
    print(color)
    print("------")
else:
    print("el bucle ya no tiene mas elementos")

azul
------
verde
------
rojo
------
el bucle ya no tiene mas elementos

In [ ]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [ ]:
range(5)

range(0, 5)

In [ ]:
type(range(5))

range

In [ ]:
list(range(5,20, 2))

[5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
for num in range(0, 100,5):
    print(num)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

In [229]:
num = 10

In [230]:
while num > 0:
    num -=1
    print(num)

9
8
7
6
5
4
3
2
1
0

In [232]:
num = 5

In [233]:
while num > 0:
    num -=1
    print(num)

4
3
2
1
0