In [28]:
nombre = "santiago hernandez"
nombre [0:8]

'santiago'

In [29]:
nombre[-9]

'h'

In [30]:
nombre [-4]

'n'

In [31]:
nombre[-2]

'e'

In [32]:
nombre[-8]

'e'

In [33]:
nombre[-10]

' '

In [34]:
nombre[0:8:2]

'snig'

In [35]:
nombre[:8:3]

'stg'

In [36]:
nombre = "santiago\nhernandez\nrodriguez"

In [37]:
print(nombre)

santiago
hernandez
rodriguez

In [38]:
nombre2 = """santiago hernandez radrigues"""

In [39]:
print(nombre2)

santiago hernandez radrigues

In [40]:
nombre = """santiago 
hernandez 
rodriguez"""

In [41]:
print(nombre)

santiago
hernandez
rodriguez

In [42]:
num2 = 1_000_000

In [43]:
num2

1000000

In [44]:
# esto es un comentario de varias linea

In [45]:
var = "hola mundo"

In [46]:
len(var)

10

In [47]:
def mi_funcion2():
print("hola mundo")
print("Adios mundo")

IndentationError: expected an indented block after function definition on line 1 (375568221.py, line 2)

In [ ]:
mi_funcion2()

In [ ]:
def mi_funcion(arg1, arg2,arg3,):
    print(arg1)
    print(arg2)
    print(arg3)

In [ ]:
mi_funcion("hola mundo","adios mundo", "hola mundo")

In [ ]:
mi_funcion("perro", "leon", "gato")

In [ ]:
def mi_funcion(arg1, arg2):
    print(arg1)
    print(arg2)

In [ ]:
var = "hola mundo"
var2 = "adios mundo"
mi_funcion(arg1=var, arg2=var2)

In [ ]:
mi_funcion(arg1=var2, arg2=var)

In [ ]:
def mi_funcion(arg1, arg2="valor por defecto"):
    print(arg1)
    print(arg2)

In [ ]:
mi_funcion("hola mundo")

In [ ]:
mi_funcion("hola mundo", "adios mundo")

In [ ]:
def mi_funcion2():
    return "valor de mi_funcion"
print("esta sentencia nunca va a ejecutarce")

In [ ]:
var = mi_funcion2()
print(var)

In [ ]:
var = mi_funcion2()[0:5]
print(var)

In [ ]:
help()

In [ ]:
print("hola mundo")

In [ ]:
var =10

In [ ]:
type("10")

In [ ]:
help(id)

In [ ]:
help(exec)

In [ ]:
import this

In [ ]:
print("hola mundo")

In [ ]:
print ("hola mundo")

In [ ]:
num =10

In [ ]:
+num

In [ ]:
-num

In [ ]:
texto = "hola mundo"

In [ ]:
-texto

In [ ]:
num1 = 10
num2 = 5

In [ ]:
num1 + num2

In [ ]:
num3 = num2 - num1

In [ ]:
num3

In [ ]:
num2 - num1

In [ ]:
num1 + num2

In [ ]:
num1 = 20
num2 = 10

In [ ]:
num1 - num2

In [ ]:
num2 -num1

In [ ]:
texto1 = "hola"
texto2 = "mundo"

In [ ]:
texto1+texto2

In [ ]:
texto1 + " " + texto2

In [ ]:
num1 = 50
num2 = 80

In [ ]:
num1 * num2

In [ ]:
num2 / num1

In [ ]:
texto1 = "hello"
texto2 = "sun"

In [ ]:
texto1 * 3

In [ ]:
num1 = 80

In [ ]:
num1 ** 4

In [ ]:
num = 10

In [ ]:
num *= 2

In [ ]:
num

In [ ]:
num1 = 2
num2 = 5

In [ ]:
num1 == 2

In [ ]:
num1 == num2

In [ ]:
num1 = 1.5

In [ ]:
num1 != 2

In [ ]:
num1 = 2
num2 = 5

In [ ]:
num1 < num2

In [ ]:
num1 > num2

In [ ]:
num1 >= num2

In [ ]:
num1 <= num2

In [ ]:
len("texto")

In [ ]:
ord ('a')

In [ ]:
len("gold chain")

In [ ]:
text1 = "gold chain"
text2 = "gold chain"

In [ ]:
id(text1)

In [ ]:
id(text2)

In [ ]:
text1 == text2

In [ ]:
text = "gold chain"

In [ ]:
"texto" in text

In [ ]:
text = "cadena de texto"

In [ ]:
"texto" in text

In [ ]:
num = 5

In [ ]:
num < 10

In [ ]:
not num <10

In [ ]:
not (num <10)

In [ ]:
num1 = 5
num2 = 10

In [ ]:
num1 < 4

In [ ]:
num1 = 5
num2 = 10

In [ ]:
num < 6 and num2 > 5 and num2 > 2

In [ ]:
lista1 = [1,2,3]
lista2 = [4,5,6]

In [ ]:
lista1 + lista2

[1, 2, 3, 4, 5, 6]

In [ ]:
lista1 * 2

[1, 2, 3, 1, 2, 3]

In [ ]:
min(lista1)

1

In [ ]:
max(lista1)

3

In [ ]:
[1, 2, 3] + [4]

[1, 2, 3, 4]

In [48]:
lista = [1,[2,[3,4], 5], 6]

In [49]:
lista[0]

1

In [50]:
lista[2]

6

In [51]:
lista[1]

[2, [3, 4], 5]

In [52]:
lista[2]

6

In [53]:
lista

[1, [2, [3, 4], 5], 6]

In [54]:
lista = ["texto4", "texto5", "texto6"]

In [55]:
lista [0:3] = [1,2,3]

In [56]:
lista

[1, 2, 3]

In [57]:
lista = ["texto1", "texto2", "texto3"]

In [58]:
lista[0]

'texto1'

In [59]:
lista

['texto1', 'texto2', 'texto3']

In [60]:
lista += ["texto4", "texto5", "texto6"]

In [61]:
lista

['texto1', 'texto2', 'texto3', 'texto4', 'texto5', 'texto6']

In [62]:
lista[0:3]

['texto1', 'texto2', 'texto3']

In [63]:
lista [0:3] = [1, 2, 3]

In [64]:
lista

[1, 2, 3, 'texto4', 'texto5', 'texto6']

In [65]:
lista[0:3]

[1, 2, 3]

In [66]:
tupla = (1, 2, 3, 4, 5)

In [67]:
len(tupla)

5

In [68]:
tupla = (1, 2, 3, "t1", "t2", "t3")

In [69]:
tupla

(1, 2, 3, 't1', 't2', 't3')

In [70]:
tupla[4:]

('t2', 't3')

In [71]:
var = (1, 2, 3, 4)

In [72]:
var

(1, 2, 3, 4)

In [73]:
def func():
    retur (5,6)

In [74]:
def func():
    return (5,6)

In [75]:
tuple

tuple

In [76]:
var

(1, 2, 3, 4)

In [77]:
num1, num2, num3, num4 = var

In [78]:
num1

1

In [79]:
num2

2

In [80]:
num3

3

In [81]:
num4

4

In [82]:
def func():
    return (5,6)

In [83]:
func()

(5, 6)

In [84]:
def func():
    return 5,6

In [85]:
func()

(5, 6)

In [86]:
dic = { 
    "nombre": "santiago", 
    "apellido": "hernandez", 
    "pais": "españa", 
    "ciudad": "madrid"
    }

In [87]:
type(dic)

dict

In [88]:
print(dic)

{'nombre': 'santiago', 'apellido': 'hernandez', 'pais': 'españa', 'ciudad': 'madrid'}

In [89]:
dic["nombre"]

'santiago'

In [90]:
dic["ciudad"]

'madrid'

In [91]:
cadena_bytes = b'\x02\x1f'

In [92]:
cadena_bytes

b'\x02\x1f'

In [93]:
type(cadena_bytes)

bytes

In [94]:
bin(543)

'0b1000011111'

In [95]:
texto = "hola mundo"

In [96]:
texto_bytes = b'hola mundo'

In [97]:
texto_bytes

b'hola mundo'

In [98]:
type(texto_bytes)

bytes

In [99]:
cadena_bytes = bytearray(b'\x20\x19\x61\x39\x40')

In [100]:
cadena_bytes

bytearray(b' \x19a9@')

In [101]:
type(cadena_bytes)

bytearray

In [102]:
cadena_bytes[3]

57

In [103]:
miset = { "rojo", "azul", "verde"}

In [104]:
print(miset)

{'azul', 'rojo', 'verde'}

In [105]:
fset = frozenset( {"azul", "verde", "amarillo"})

In [106]:
fset

frozenset({'amarillo', 'azul', 'verde'})

In [107]:
frozenset({'amarillo', 'azul', 'verde'})

frozenset({'amarillo', 'azul', 'verde'})

In [108]:
type(fset)

frozenset

In [109]:
{"azul", 0, (1,2)}

{(1, 2), 0, 'azul'}

In [110]:
def func():
    return

In [111]:
var = func()

In [112]:
type (var)

NoneType

In [113]:
var2 = None

In [114]:
num1 = 5
num2 = 10

In [115]:
# esto seria una expresion
num1 < num2

True

In [116]:
if num1 < num2:
    print("sentencia 1")
    print("sentencia 2")
    print("sentencia 3")

sentencia 1
sentencia 2
sentencia 3

In [117]:
num1 = 15

In [118]:
if num1 < num2:
    print("sentencia 1")
    print("sentencia 2")
    print("sentencia 3")

In [119]:
num1 < num2

False

In [120]:
lista = ["azul", "amarillo", "verde"]

In [121]:
if "azul" in lista:
    print("sentencia 1 en if")
    print("sentencia 2 en if")

sentencia 1 en if
sentencia 2 en if

In [122]:
tupla = (1, 2, 3, 4)

In [123]:
if 1 in tupla:
    print("sentencia 1 en if")
    print("sentencia 2 en if")

sentencia 1 en if
sentencia 2 en if

In [124]:
nombres = ["santiago", "laura", "julia"]

In [125]:
if "pedro" in nombres:
    print("hola pedro")
elif "juan" in nombres:
    print("hola juan")
elif "marta" in nombres:
    print("hola marta")
elif "santiago" in nombres:
    print("hola santiago")
else:
    print("el nombre no se encuentra en la lista")

hola santiago

In [126]:
if 4 > 2: print("sentencia1");print("sentencia2");print("sentencia3")

sentencia1
sentencia2
sentencia3

In [127]:
if 4 < 2: print("sentencia en if")
else: print("sentencia en else")

sentencia en else

In [128]:
nombre = "santiago"

In [129]:
edad = 30 if nombre == "pedro" else 15

In [130]:
edad

15

In [131]:
tiempo = "lluvia"

In [132]:
print("vamos", "a la pisina" if tiempo == "sol" else "al cine")

vamos al cine

In [133]:
colores = ["verde", "azul", "rojo"]

In [134]:
for color in colores:
    print(color)

verde
azul
rojo

In [135]:
iter("cadena de texto")

In [136]:
iter ([1, 2, 3, 4,])

In [137]:
for color in ["azul", "verde", "rojo"]:
    print(color)
    print("------")
else:
    print("el bucle ya no tiene mas elementos")

azul
------
verde
------
rojo
------
el bucle ya no tiene mas elementos

In [138]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [139]:
range(5)

range(0, 5)

In [140]:
type(range(5))

range

In [141]:
list(range(5,20, 2))

[5, 7, 9, 11, 13, 15, 17, 19]

In [142]:
for num in range(0, 100,5):
    print(num)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

In [143]:
num = 10

In [144]:
while num > 0:
    num -=1
    print(num)

9
8
7
6
5
4
3
2
1
0

In [145]:
num = 5

In [146]:
while num > 0:
    num -=1
    print(num)

4
3
2
1
0

In [ ]:
hola

In [147]:
def funcion():
    pass

In [148]:
colore =["rojo", "verde", "azul"]

In [149]:
for color in colores:
# aqui voy a hacer algo

SyntaxError: incomplete input (2530095719.py, line 2)

In [150]:
for color in colores:
# aqui voy a hacer algo
pass

IndentationError: expected an indented block after 'for' statement on line 1 (2416121536.py, line 3)