In [ ]:
nombre = "santiago hernandez"
nombre [0:8]

In [ ]:
nombre[-9]

In [ ]:
nombre [-4]

In [ ]:
nombre[-2]

In [ ]:
nombre[-8]

In [ ]:
nombre[-10]

In [ ]:
nombre[0:8:2]

In [ ]:
nombre[:8:3]

In [ ]:
nombre = "santiago\nhernandez\nrodriguez"

In [ ]:
print(nombre)

In [ ]:
nombre2 = """santiago hernandez radrigues"""

In [ ]:
print(nombre2)

In [ ]:
nombre = """santiago 
hernandez 
rodriguez"""

In [ ]:
print(nombre)

In [ ]:
num2 = 1_000_000

In [ ]:
num2

In [ ]:
# esto es un comentario de varias linea

In [ ]:
var = "hola mundo"

In [ ]:
len(var)

In [ ]:
def mi_funcion2()
print("hola mundo")
print("Adios mundo")

In [ ]:
mi_funcion2()

In [ ]:
def mi_funcion(arg1, arg2,arg3,):
    print(arg1)
    print(arg2)
    print(arg3)

In [ ]:
mi_funcion("hola mundo","adios mundo", "hola mundo")

In [ ]:
mi_funcion("perro", "leon", "gato")

In [ ]:
def mi_funcion(arg1, arg2):
    print(arg1)
    print(arg2)

In [ ]:
var = "hola mundo"
var2 = "adios mundo"
mi_funcion(arg1=var, arg2=var2)

In [ ]:
mi_funcion(arg1=var2, arg2=var)

In [ ]:
def mi_funcion(arg1, arg2="valor por defecto"):
    print(arg1)
    print(arg2)

In [ ]:
mi_funcion("hola mundo")

In [ ]:
mi_funcion("hola mundo", "adios mundo")

In [ ]:
def mi_funcion2():
    return "valor de mi_funcion"
print("esta sentencia nunca va a ejecutarce")

In [ ]:
var = mi_funcion2()
print(var)

In [ ]:
var = mi_funcion2()[0:5]
print(var)

In [ ]:
help()

In [ ]:
print("hola mundo")

In [ ]:
var =10

In [ ]:
type("10")

In [ ]:
help(id)

In [ ]:
help(exec)

In [ ]:
import this

In [ ]:
print("hola mundo")

In [ ]:
print ("hola mundo")

In [ ]:
num =10

In [ ]:
+num

In [ ]:
-num

In [ ]:
texto = "hola mundo"

In [ ]:
-texto

In [ ]:
num1 = 10
num2 = 5

In [ ]:
num1 + num2

In [ ]:
num3 = num2 - num1

In [ ]:
num3

In [ ]:
num2 - num1

In [ ]:
num1 + num2

In [ ]:
num1 = 20
num2 = 10

In [ ]:
num1 - num2

In [ ]:
num2 -num1

In [ ]:
texto1 = "hola"
texto2 = "mundo"

In [ ]:
texto1+texto2

In [ ]:
texto1 + " " + texto2

In [ ]:
num1 = 50
num2 = 80

In [ ]:
num1 * num2

In [ ]:
num2 / num1

In [ ]:
texto1 = "hello"
texto2 = "sun"

In [ ]:
texto1 * 3

In [ ]:
num1 = 80

In [ ]:
num1 ** 4

In [ ]:
num = 10

In [ ]:
num *= 2

In [ ]:
num

In [ ]:
num1 = 2
num2 = 5

In [ ]:
num1 == 2

In [ ]:
num1 == num2

In [ ]:
num1 = 1.5

In [ ]:
num1 != 2

In [ ]:
num1 = 2
num2 = 5

In [ ]:
num1 < num2

In [ ]:
num1 > num2

In [ ]:
num1 >= num2

In [ ]:
num1 <= num2

In [ ]:
len("texto")

In [ ]:
ord ('a')

In [ ]:
len("gold chain")

In [ ]:
text1 = "gold chain"
text2 = "gold chain"

In [ ]:
id(text1)

In [ ]:
id(text2)

In [ ]:
text1 == text2

In [ ]:
text = "gold chain"

In [ ]:
"texto" in text

In [ ]:
text = "cadena de texto"

In [ ]:
"texto" in text

In [ ]:
num = 5

In [ ]:
num < 10

In [ ]:
not num <10

In [ ]:
not (num <10)

In [ ]:
num1 = 5
num2 = 10

In [ ]:
num1 < 4

In [ ]:
num1 = 5
num2 = 10

In [ ]:
num < 6 and num2 > 5 and num2 > 2

In [191]:
lista1 = [1,2,3]
lista2 = [4,5,6]

In [192]:
lista1 + lista2

[1, 2, 3, 4, 5, 6]

In [194]:
lista1 * 2

[1, 2, 3, 1, 2, 3]

In [195]:
min(lista1)

1

In [196]:
max(lista1)

3

In [198]:
[1, 2, 3] + [4]

[1, 2, 3, 4]

In [199]:
lista = [1,[2,[3,4], 5], 6]

In [200]:
lista[0]

1

In [201]:
lista[2]

6

In [202]:
lista[1]

[2, [3, 4], 5]

In [203]:
lista[3]

IndexError: list index out of range

In [204]:
lista

[1, [2, [3, 4], 5], 6]

In [205]:
lista = ["texto4", "texto5", "texto6"]

In [209]:
lista [0:3] = [1,2,3]

In [210]:
lista

[1, 2, 3]